GOOGLE_API_KEY=your_gemini_api_key_here
ALLOWED_ORIGINS=https://akhilrajs.com,http://localhost:8080,http://127.0.0.1:8080,chrome-extension://
MAX_VIDEOS_CACHED=50
RATE_LIMIT=30/minute
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
STRIPE_PRICE_ID=your_stripe_price_id_here
