fastapi
uvicorn[standard]
langchain
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-community
google-generativeai
youtube-transcript-api
faiss-cpu
python-dotenv
pydantic
slowapi
